{% extends "questions/base.html" %}
{% load static %}


{% block title %}
QUIZ
{% endblock title %}




<body>
    {% block content %}

    <div class="container">
        <div class="row align-items-start"></div>
            <div class="col">
                <a href="play"></a>
                <p>Zagraj</p>
            </div>
            <div class="col">
                <a href="practise"></a>
                Poćwicz
            </div>
        </div>
    </div>   
    {% endblock content %}
</body>